@use 'sass:color';
@use 'sass:map';
@use 'sass:list';
@use 'sass:math';

@use 'variables' as variables;
@use 'color-palette' as color-palette;
@use 'spacing' as spacing;
@use 'shape' as shape;

// I don't use the color-palette directly, because maybe I don't need all colors to be generated...
$buttons-color-palette: (
  'primary': map.get(color-palette.$primary, 'default'),
  'secondary': map.get(color-palette.$secondary, 'default'),
  'success': map.get(color-palette.$green, 'variant-3'),
  'danger': map.get(color-palette.$red, 'default'),
);

.app-button {
  display: inline-block;
  padding: spacing.$sm;
  border-radius: shape.$default;
  text-transform: capitalize;
  transition:
    background 150ms ease-in-out,
    color 150ms ease-in-out;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  vertical-align: middle;
  text-decoration: none;
  color: inherit;

  &:hover {
    background: map.get(color-palette.$gray, 'default');
  }
}

.app-button.app-button-variant-contained {
  @each $key, $value in $buttons-color-palette {
    &.app-button-color-#{$key} {
      $base-color: $value;
      $text-color: map.get(color-palette.$common, 'white');
      $base-lightness: color.lightness($base-color);
      //
      background: $base-color;

      @if ($base-lightness >= 50%) {
        $text-color: map.get(color-palette.$common, 'black');
      }

      color: $text-color;

      &:hover {
        background: color.scale($base-color, $lightness: 7.5%);
      }
    }
  }
}

.app-button.app-button-variant-outlined {
  @each $key, $value in $buttons-color-palette {
    &.app-button-color-#{$key} {
      $base-color: $value;
      $base-color-lightness: math.floor(color.lightness($base-color));
      $text-color: $value;
      //
      background: transparent;
      color: $text-color;
      border: 2px solid $base-color;

      @if ($base-color-lightness <= 55%) {
        $text-color: map.get(color-palette.$common, 'white');
      }

      &:hover {
        color: $text-color;
        background: $base-color;
      }
    }
  }
}

.app-button[disabled][class*='app-button-variant'][class*='app-button-color'] {
  background: map.get(color-palette.$gray, 'default');
  color: map.get(color-palette.$gray, 'variant-3');
  cursor: auto;
}
