@use 'sass:map';

@use 'variables' as variables;
@use 'spacing' as spacing;
@use 'color-palette' as color-palette;

.app-card {
  & .app-card-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: spacing.$sm;
    border-bottom: variables.$layout-border;
    padding: spacing.$sm;
  }

  &:not(&:first-of-type) .app-card-row:first-of-type {
    border-top: variables.$layout-border;
  }

  & .app-card-row:first-of-type {
    background: map.get(color-palette.$gray, 'default');
  }

  &:last-of-type .app-card-row:last-of-type {
    border-bottom: none;
  }

  & .app-card-key {
    font-weight: 500;
  }
}
