@use 'sass:map';

@use 'variables' as *;
@use 'spacing' as *;

.router-container {
  & router-outlet + * {
    display: grid;
    gap: map.get($spacing, 'md');

    padding: map.get($spacing, 'default');
  }
}
