@use 'sass:map';

@use 'variables' as *;
@use 'spacing' as *;

.router-container {
  & router-outlet + * {
    padding: map.get($spacing, 'default');

    &,
    & > * {
      display: grid;
      gap: map.get($spacing, 'md');
    }
  }
}
