@use 'sass:map';

@use 'color-palette' as color-palette;
@use 'typography' as typography;

:host app-widget-box {
  & .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
