@use 'variables' as *;
@use 'sass:map';

:host {
  display: grid;
  grid-template-rows: auto 1fr auto;

  border-right: $layout-border;
}

// Will me moved into its own directory
@media screen and (max-width: map.get($breakpoints, 'xl')) {
  :host {
    display: none;
  }
}
