@use 'sass:map';

@use 'variables' as variables;
@use 'color-palette' as color-palette;
@use 'breakpoints' as breakpoints;

:host {
  display: grid;
  grid-template-rows: auto 1fr auto;

  border-right: variables.$layout-border;
  overflow: hidden;
}

.link {
  &.active {
    background: map.get(color-palette.$secondary, 'variant-2');
    color: map.get(color-palette.$secondary, 'default');
    font-weight: 500;
  }
}

@media screen and (max-width: breakpoints.$md) {
  :host {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: variables.$overlap-index-everything;

    & .wrapper {
      background: rgba(0, 0, 0, 0.5);
    }

    & .container {
      background: map.get(color-palette.$common, 'white');
      width: max-content;
    }
  }
}
