@use 'variables' as *;
@use 'sass:map';

@mixin links-container {
  display: flex;
  flex-direction: column;
  gap: map.get($spacing, 'sm');
}

.sidebar {
  display: grid;
  grid-template-rows: auto 1fr auto;

  border-right: $layout-border;
  overflow: hidden;
}

.link {
  &.active {
    background: map.get($color-palette, 'secondary', 'variant-2');
    color: map.get($color-palette, 'secondary', 'default');
    font-weight: 500;
  }
}

@media screen and (max-width: map.get($breakpoints, 'xl')) {
  .sidebar {
    display: none;
  }
}
