@use 'sass:map';

@use 'color-palette' as color-palette;
@use 'shape' as shape;

.sidebar-toggle-btn {
  position: relative;

  width: 30px;
  height: 20px;
}

.bar {
  position: absolute;
  left: 0;

  top: 50%;
  transform-origin: center;

  width: 100%;
  height: 2px;

  background: map.get(color-palette.$gray, 'variant-2');
  border-radius: shape.$sm;
}
