@use 'sass:map';

@use 'variables' as *;
@use 'color-palette' as color-palette;
@use 'spacing' as *;

// Make sure this map matches the type of the error from `InfoType`.
$infoTextType: (
  'error': map.get(color-palette.$red, 'default'),
  'success': map.get(color-palette.$green, 'default'),
);

.info-text {
  font-size: 0.9rem;

  @each $key, $value in $infoTextType {
    &.info-type-#{$key} {
      color: $value;
    }
  }
}
