@use 'sass:map';

@use 'variables' as *;
@use 'color-palette' as *;
@use 'spacing' as *;

// Make sure this map matches the type of the error from `InfoType`.
$infoTextType: (
  'error': map.get($color-palette, 'red', 'default'),
  'success': map.get($color-palette, 'green', 'default'),
);

.info-text {
  font-size: 0.9rem;
  margin-top: map.get($spacing, 'sm');

  @each $key, $value in $infoTextType {
    &.infoType-#{$key} {
      color: $value;
    }
  }
}
