@use 'sass:map';

@use 'spacing' as spacing;
@use 'color-palette' as color-palette;
@use 'breakpoints' as breakpoints;

@mixin generate-name-color($color) {
  & .category-item__name {
    color: $color;

    & .app-icon {
      fill: $color;
    }
  }
}

canvas {
  display: block;
  image-rendering: crisp-edges;
  object-fit: cover;
}

.canvas-wrapper {
  overflow: hidden;

  aspect-ratio: 16 / 8;

  width: 100%;
  height: 100%;
}

@media screen and (max-width: breakpoints.$xl) and (orientation: portrait) {
  .canvas-wrapper {
    aspect-ratio: 4 / 3;
  }
}
