$color-palette: (
  'primary': (
    'default': #171717,
    'variant-2': #404040,
  ),
  'secondary': (
    'default': #008000,
    'variant-2': #e7f1e7,
    'variant-3': #459635,
  ),
  'gray': (
    'default': #eeeeee,
    'variant-2': #c9c9c9,
    'variant-3': #a1a1a1,
    'variant-4': #737373,
    'variant-5': #f5f5f5,
  ),
  'body-text-color': (
    'default': #000,
  ),
  'common': (
    'white': #fff,
  ),
  'red': (
    'default': #db2c2c,
    'variant-2': #ff8b8b,
  ),
  'green': (
    'default': #5ee942,
  ),
);
