@use 'variables' as *;
@use 'sass:map';

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: map.get($font-size, 'body');
  line-height: 1.25;

  color: map.get($color-palette, 'body-text-color', 'default');
}

h1,
h2,
h3,
h4 {
  font-family: 'Montserrat Light', sans-serif;
}

h1 {
  font-size: map.get($font-size, 'h1');
}

h2 {
  font-size: map.get($font-size, 'h2');
}

h3 {
  font-size: map.get($font-size, 'h3');
}

h4 {
  font-size: map.get($font-size, 'h4');
}
