@use 'variables' as *;
@use 'sass:map';

body {
  font-family: 'Roboto Light', 'sans-serif';
  font-weight: 400;
  font-size: map.get($font-size, 'body');
  line-height: 1.25;

  color: map.get($color-palette, 'primary', 'variant-2');

  display: grid;
  justify-content: center;
  grid-template-columns: minmax(auto, map.get($container-width, 'sm'));
  // grid-template-rows: 1fr auto; // Most of the time i end up having a fixed header
  grid-auto-rows: auto;

  min-height: 100svh;
}

h1 {
  font-size: map.get($font-size, 'h1');
}

h2 {
  font-size: map.get($font-size, 'h2');
}

h3 {
  font-size: map.get($font-size, 'h3');
}

h4 {
  font-size: map.get($font-size, 'h4');
}
