@use 'sass:map';

@use 'color-palette' as color-palette;
@use 'spacing' as spacing;
@use 'shape' as shape;

.body {
  display: flex;
  flex-direction: column;
  gap: spacing.$sm;

  padding-right: spacing.$default;

  overflow: auto;
  max-height: 250px;

  &__item {
    gap: spacing.$sm;
    justify-content: space-between;

    &,
    & .name {
      display: flex;
      align-items: center;
    }

    & .name {
      overflow: hidden;

      &__text__content {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100px;
      }

      & .app-icon {
        $size: 15px;
        //
        width: $size;
        height: $size;
        fill: map.get(color-palette.$red, 'variant-2');
      }
    }
  }
}
