@use 'sass:map';

@use 'shape' as *;
@use 'spacing' as *;
@use 'color-palette' as *;

.canvas-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: map.get($spacing, 'default');
}

.pie-chart-legend {
  display: flex;
  flex-direction: column;
  gap: map.get($spacing, 'sm');

  & .legend-item {
    display: flex;
    align-items: center;

    & .legend-item-circle {
      display: block;
      $size: 12px;

      width: $size;
      height: $size;
      border-radius: map.get($border-radius, 'rounded');
      border: 1px solid map.get($color-palette, 'common', 'black');
    }
  }
}
