<app-widget-box>
  <app-widget-box-header>
    <app-widget-box-title>Category Expenses</app-widget-box-title>
    <app-widget-box-title-info>For the last month</app-widget-box-title-info>
  </app-widget-box-header>

  <div class="canvas-container">
    <canvas id="pie-chart" #pieChart>Your device doesn't support canvas element.</canvas>

    <div class="pie-chart-legend">
      <p class="legend-item" *ngFor="let item of data; trackBy: trackByCustom">
        <span
          class="legend-item-circle"
          [ngStyle]="{
            backgroundColor: item.color,
          }"
        ></span>
        &nbsp;
        <strong>{{ item.name }}:</strong>
        &nbsp;
        <span>{{ item.value | currency: 'USD' }}</span>
      </p>
    </div>
  </div>
</app-widget-box>
