@use 'sass:map';

@use 'spacing' as spacing;

.row {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: spacing.$grid-gap-spacing;
}

.budget-status-container {
  display: grid;
  grid-auto-rows: auto;
  align-content: start;
  gap: spacing.$grid-gap-spacing;
}
