@use 'sass:map';

@use 'spacing' as spacing;

.row {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: spacing.$grid-gap-spacing;
}

.col-budget-status {
  display: grid;
  grid-template-rows: auto 1fr auto;
  gap: spacing.$grid-gap-spacing;
}
