@use 'sass:map';

@use 'variables' as *;
@use 'spacing' as *;

.widget-box {
  display: grid;
  grid-template-rows: auto 1fr;

  border: $layout-border;
  border-radius: map.get($border-radius, 'default');

  padding: map.get($spacing, 'default');
  box-shadow: 0px 0px 5px 0px #ededed;
  overflow: hidden;

  & [app-widget-box-title] {
    margin-bottom: map.get($spacing, 'sm');
    text-transform: capitalize;
  }
}
