@use 'sass:map';

@use 'variables' as variables;
@use 'spacing' as spacing;
@use 'shape' as shape;
@use 'color-palette' as color-palette;

.widget-box {
  display: grid;
  grid-template-rows: auto 1fr;
  gap: spacing.$sm;

  border: variables.$layout-border;
  border-radius: shape.$default;

  padding: spacing.$default;
  box-shadow: map.get(variables.$box-shadow, 'default');
  overflow: hidden;

  & .app-widget-box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: spacing.$default;

    & .app-widget-box-title,
    & .app-widget-box-title-info {
      white-space: nowrap;
      text-transform: capitalize;
    }

    & .app-widget-box-title-info {
      color: map.get(color-palette.$gray, 'variant-4');
      font-size: 0.8rem;
      font-style: italic;
    }
  }
}
