<div class="logo-container mb-lg">
  <img src="logo" alt="logo" />

  <p>Optimize Budget</p>
</div>

<div class="form-container">
  <div class="header">
    <h4 class="mb-sm">Welcome back</h4>

    <p class="light-text">Login with your Google account</p>
  </div>

  <div class="buttons-socials">{{ "{{ WIP }}" }}</div>

  <div class="delimiter">
    <span class="light-text">Or continue with</span>
  </div>

  <form id="loginForm" #loginForm="ngForm" (ngSubmit)="handleLogin(loginForm)">
    <app-form-field
      variant="outlined"
      color="primary-default"
      [labelOptions]="{
        position: 'top',
      }"
      class="mb-default"
    >
      <app-input-label>Email</app-input-label>

      <input appInput id="email" type="text" placeholder="mail@example.com" />
    </app-form-field>

    <app-form-field
      variant="outlined"
      color="primary-default"
      [labelOptions]="{
        position: 'top',
      }"
      class="mb-default"
    >
      <app-input-label>
        <span class="label-password-container">
          Password

          <a routerLink="forgot-password" class="redirect-link">Forgot your password?</a>
        </span>
      </app-input-label>

      <input appInput id="password" type="password" />
    </app-form-field>

    <button type="submit" appButton variant="contained" color="primary-default">Login</button>
  </form>

  <p>
    Don't have an account?
    <a routerLink="sign-up" class="redirect-link underline">Sign Up</a>
  </p>
</div>

<p class="agree-info mt-default">
  By clicking continue, you agree to our
  <a class="underline" routerLink="terms-of-service">Terms of Service</a>
  and
  <a class="underline" routerLink="privacy-policy">Privacy Policy</a>
  .
</p>
