<div class="logo-container mb-lg">
  <img src="logo" alt="logo" />

  <p>Optimize Budget</p>
</div>

<div class="form-container">
  <div class="header">
    <h4 class="mb-sm">Welcome back</h4>

    <p class="light-text">Login with your Google account</p>
  </div>

  <div class="buttons-socials">socials</div>

  <div class="delimiter">
    <span class="light-text">Or continue with</span>
  </div>

  <form #loginForm="ngForm" (ngSubmit)="handleLogin(loginForm)">
    <button
      type="submit"
      appButton
      variant="contained"
      color="secondary-default"
    >
      Login
    </button>
  </form>

  <p>
    Don't have an account?
    <a class="underline" routerLink="/sign-up">Sign Up</a>
  </p>
</div>

<p class="agree-info mt-default">
  By clicking continue, you agree to our
  <a class="underline" routerLink="terms-of-service">Terms of Service</a> and
  <a class="underline" routerLink="privacy-policy">Privacy Policy</a>.
</p>
