<app-authentication-logo-container />

<div class="form-container">
  <div class="header">
    <h4 class="mb-sm">Welcome back</h4>

    <p class="light-text">Login with your Google account</p>
  </div>

  <div class="buttons-socials">{{ "{{ WIP }}" }}</div>

  <app-form-delimiter textContent="Or continue with" />

  <form
    id="loginForm"
    class="text-align-left"
    #loginForm="ngForm"
    (ngSubmit)="handleLogin(loginForm)"
  >
    <app-form-field
      variant="outlined"
      color="primary-default"
      [labelOptions]="{
        position: 'top',
      }"
      class="mb-default"
    >
      <app-input-label>Email</app-input-label>

      <input appInput id="email" type="email" placeholder="mail@example.com" />
    </app-form-field>

    <app-form-field
      variant="outlined"
      color="primary-default"
      [labelOptions]="{
        position: 'top',
      }"
      class="mb-default"
    >
      <app-input-label>
        <span class="label-password-container">
          Password

          <a routerLink="/{{paths.forgotPassword.path}}" class="redirect-link">
            Forgot your password?
          </a>
        </span>
      </app-input-label>

      <input appInput id="password" type="password" placeholder="******" />
    </app-form-field>

    <button type="submit" appButton variant="contained" color="primary-default">Login</button>
  </form>

  <p>
    Don't have an account?
    <a routerLink="/{{paths.register.path}}" class="redirect-link underline">Sign Up</a>
  </p>
</div>

<app-agree-info-component textContent="login" />
