<div class="calendar-header">
  <h2 class="mb-default">{{ currentDate | date: 'MMMM' }}</h2>
</div>

<app-widget-box class="calendar-container">
  <div
    class="day-item"
    *ngFor="let item of dataSource; index as index; trackBy: trackByFnDataSource"
  >
    <div class="day-header" [class.current]="item[DataSourceItemKey.CURRENT_DAY]">
      <span class="week" *ngIf="index < 7">
        {{ index | dayOfWeek }}
      </span>

      <span class="day">
        {{ item[DataSourceItemKey.DAY] }}
      </span>
    </div>
  </div>
</app-widget-box>
