<ng-container *ngIf="getUserRequest$ | async as getUserRequest; else loaderPlaceholder">
  <ng-container *ngIf="getUserRequest.data.user as userData">
    <p *ngIf="userData.user_metadata[UserDataKeys.DISPLAY_NAME]">
      <strong>{{ userData.user_metadata[UserDataKeys.DISPLAY_NAME] }}</strong>
    </p>

    <p>{{ userData.email }}</p>
  </ng-container>

  <ng-container *ngIf="getUserRequest.error as error">
    <p appInfoText type="error">{{ error.name }} {{ error.status }}: {{ error.message }}</p>
  </ng-container>
</ng-container>

<ng-template #loaderPlaceholder>
  <app-loader />
</ng-template>
