@use 'sass:map';

@use 'variables' as variables;
@use 'spacing' as spacing;

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: spacing.$sm spacing.$default;
  border-bottom: variables.$layout-border;
}

.right-side {
  display: flex;
  align-items: center;
  gap: spacing.$default;
}
