@use 'variables' as *;
@use 'sass:map';

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.right-side {
  display: flex;
  align-items: center;
  gap: map.get($spacing, 'default');
}
