@use 'sass:map';

@use 'variables' as *;
@use 'spacing' as *;

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: map.get($spacing, 'sm') map.get($spacing, 'default');
  border-bottom: $layout-border;
}

.right-side {
  display: flex;
  align-items: center;
  gap: map.get($spacing, 'default');
}
