@use 'variables' as *;
@use 'sass:map';

:host {
  display: grid;

  &[data-logged-in='false'] {
    min-height: 100svh;
  }

  &[data-logged-in='true'] {
    height: 100svh;
    grid-template-columns: max-content auto;
  }
}

header {
  border: 10px solid green;
}

.sidebar {
  border: 10px solid red;
}

.main-wrapper {
  overflow: hidden;
  border: 10px solid blue;

  display: grid;
  grid-template-rows: auto 1fr;

  & .main-scrollable-container {
    overflow: auto;
    border: 10px solid pink;
  }
}
