<!--<ng-container *ngIf="userIsLoggedIn; else authenticationContainer">-->
<!--  <app-sidebar />-->

<!--  <main class="main-wrapper">-->
<!--    <app-header />-->

<!--    <app-router-container>-->
<!--      <router-outlet />-->
<!--    </app-router-container>-->
<!--  </main>-->
<!--</ng-container>-->

<!--<ng-template #authenticationContainer>-->
<!--  <router-outlet name="authentication"></router-outlet>-->
<!--</ng-template>-->

<table app-table>
  <ng-container appColumnDef="score"></ng-container>
</table>
