@use 'variables' as *;
@use 'sass:map';

:host {
  display: grid;

  //justify-content: center;
  // minmax(auto, map.get($container-width, 'sm'));
  //grid-template-columns: 1fr;
  //grid-template-rows: auto 0 1fr auto;

  min-height: 100svh;

  &[data-logged-in='false'] {
    //grid-template-rows: 0 1fr;
  }

  &[data-logged-in='true'] {
    grid-template-columns: max-content auto;
  }
}

header {
  border: 10px solid green;
}

#sidebar {
  border: 10px solid red;
}

#main-wrapper {
  border: 10px solid blue;
}
