@use 'sass:map';

@use 'variables' as *;
@use 'spacing' as *;

@use '../sidebar.component' as *;

:host {
  @include links-container;

  padding: map.get($spacing, 'sm') map.get($spacing, 'default') 0;
}
