@use 'variables' as *;
@use 'sass:map';

@mixin host-style {
  display: grid;
  align-content: center;
  justify-items: center;
  background: map.get($color-palette, 'gray', 'default');
}

.form-container {
  display: flex;
  flex-direction: column;
  gap: map.get($spacing, 'default');

  background: map.get($color-palette, 'common', 'white');
  box-shadow: 0px 0 3px 0px rgb(0 0 0 / 15%);

  width: 100%;
  max-width: 24rem;

  padding: map.get($spacing, 'default');
  border-radius: map.get($border-radius, 'default');

  text-align: center;

  & form button[type='submit'] {
    width: 100%;
  }
}

.redirect-link {
  font-weight: 300;
}

.underline {
  text-decoration: underline;
}

.light-text {
  color: map.get($color-palette, 'gray', 'variant-2');
}
