@use 'sass:map';

@use 'variables' as variables;
@use 'spacing' as spacing;
@use 'shape' as shape;
@use 'color-palette' as color-palette;

.user-avatar-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: spacing.$sm;

  width: variables.$user-avatar-size;
  height: variables.$user-avatar-size;
  border-radius: shape.$rounded;

  font-weight: 500;
  color: map.get(color-palette.$common, 'white');
  background: map.get(color-palette.$gray, 'variant-3');

  overflow: hidden;

  & .user-info-container {
    text-align: left;
    display: flex;
    flex-direction: column;
  }
}

.user-info-wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  pointer-events: auto;

  & .user-info-container {
    position: fixed;

    padding: spacing.$sm;
    background: map.get(color-palette.$common, 'white');
    box-shadow: map.get(variables.$box-shadow, 'variant-3');

    display: grid;
    gap: spacing.$default;
  }
}
