@use 'sass:map';
@use 'variables' as *;
@use 'color-palette' as *;

:host {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: $overlap-index-everything;

  background: rgba(map.get($color-palette, 'common', 'black'), 0.25);

  display: grid;
  place-content: center;
}
