@use 'sass:map';
@use 'color-palette' as *;
@use 'spacing' as *;
@use 'shape' as *;
@use 'breakpoints' as *;

#dialog-content {
  display: grid;
  gap: map.get($spacing, 'default');

  background: map.get($color-palette, 'common', 'white');

  padding: map.get($spacing, 'default');
  border-radius: map.get($border-radius, 'default');
  max-height: 400px;

  & .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  & #body {
    overflow-y: auto;
    height: 100%;
  }
}

@media screen and (max-width: map.get($breakpoints, 'md')) {
  #dialog-content {
    max-height: 300px;
  }
}

@media screen and (max-width: map.get($breakpoints, 'sm')) {
  #dialog-content {
    max-height: 200px;
  }
}
