<app-widget-box
  [ngStyle]="{
    gridRow: 'span 4',
    overflow: 'hidden',
}"
>
  <h4 app-widget-box-title>Top Expenses</h4>

  <p>Some content</p>
  <p>Some content</p>
  <p>Some content</p>
  <p>Some content</p>
  <p>Some content</p>
  <p>Some content</p>
  <p>Some content</p>
  <p>Some content</p>
  <p>Some content</p>
  <p>Some content</p>
</app-widget-box>

<app-widget-box>
  <h4 app-widget-box-title>Period Money statistics</h4>

  <p>Some content</p>
</app-widget-box>

<app-widget-box
  [ngStyle]="{
  gridColumn: '2',
  gridRow: 'span 3'
}"
>
  <p>Some content</p>

  <h4 app-widget-box-title>Total Balance</h4>
</app-widget-box>

<app-widget-box
  [ngStyle]="{
    gridColumn: '3',
    gridRow: '1 / span 4'
}"
>
  <h4 app-widget-box-title>Payments History</h4>

  <p>Some content</p>
</app-widget-box>

<!--<br />-->

<!--<button-->
<!--  type="button"-->
<!--  (click)="handleShowMoreContent()"-->
<!--  [ngStyle]="{-->
<!--    background:'purple',-->
<!--    padding: '1rem',-->
<!--    color: 'white',-->
<!--    marginBottom: '1rem'-->
<!--  }"-->
<!--&gt;-->
<!--  Show all home content-->
<!--</button>-->

<!--<p>First home content 🍔</p>-->

<!--<br />-->

<!--<p>Home content</p>-->
<!--<p>Home content</p>-->
<!--<p>Home content</p>-->
<!--<p>Home content</p>-->
<!--<p>Home content</p>-->
<!--<p>Home content</p>-->

<!--<ng-container *ngIf="showMoreContent">-->
<!--  <br />-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->
<!--  <p>Home content</p>-->

<!--  <br />-->

<!--  <p>Last home content 🌯</p>-->
<!--</ng-container>-->
