<button
  type="button"
  (click)="handleShowMoreContent()"
  [ngStyle]="{
    background:'purple',
    padding: '1rem',
    color: 'white',
    marginBottom: '1rem'
  }"
>
  Show all home content
</button>

<p>First home content 🍔</p>

<br />

<p>Home content</p>
<p>Home content</p>
<p>Home content</p>
<p>Home content</p>
<p>Home content</p>
<p>Home content</p>

<ng-container *ngIf="showMoreContent">
  <br />
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>
  <p>Home content</p>

  <br />

  <p>Last home content 🌯</p>
</ng-container>
