<div class="row-1">
  <app-total-balance />

  <app-monthly-budget />

  <app-remaining-budget />
</div>

<div class="row-2">
  <app-widget-box>
    <h4 app-widget-box-title>Category Expenses</h4>

    <p>Chart</p>

    <br />

    <p>Some content</p>
    <p>Some content</p>
    <p>Some content</p>
    <p>Some content</p>
    <p>Some content</p>
    <p>Some content</p>
    <p>Some content</p>
    <p>Some content</p>
    <p>Some content</p>
    <p>Some content</p>
    <p>Some content</p>
    <p>Some content</p>
    <p>Some content</p>
    <p>Some content</p>

    <br />

    <p>Last content</p>
  </app-widget-box>

  <app-widget-box>
    <h4 app-widget-box-title>Money statistics</h4>

    <p>Chart</p>

    <br />

    <p>Some content</p>
    <p>Some content</p>
    <p>Some content</p>
    <p>Some content</p>
    <p>Some content</p>
    <p>Some content</p>
    <p>Some content</p>
    <p>Some content</p>
    <p>Some content</p>
    <p>Some content</p>
    <p>Some content</p>
    <p>Some content</p>
    <p>Some content</p>
    <p>Some content</p>

    <br />

    <p>Last content</p>
  </app-widget-box>
</div>

<app-top-expenses />
