<app-authentication-logo-container />

<div class="form-container">
  <div class="header">
    <h4 class="mb-sm">Reset User Password</h4>
  </div>

  <form
    id="resetPasswordForm"
    class="text-align-left"
    #ngFormLogin="ngForm"
    (ngSubmit)="handleForgotPassword(ngFormLogin)"
  >
    <div
      #passwordGroup="ngModelGroup"
      ngModelGroup="passwordGroup "
      appConfirmPasswordValidator
      [passwordControl]="InputTypes.PASSWORD"
      [confirmPasswordControl]="InputTypes.CONFIRM_PASSWORD"
    >
      <app-form-field
        variant="outlined"
        color="primary-default"
        class="mb-default"
        fullWidth
        [labelOptions]="{
          position: 'top',
        }"
      >
        <app-input-label>New Password</app-input-label>

        <input
          appInput
          id="password"
          type="password"
          placeholder="******"
          required
          [(ngModel)]="resetPasswordForm[InputTypes.PASSWORD]"
          [name]="InputTypes.PASSWORD"
          [pattern]="regexPatterns.password"
        />
      </app-form-field>

      <app-password-requirement-container
        [password]="resetPasswordForm[InputTypes.PASSWORD]"
        class="mb-default"
      />

      <app-form-field
        variant="outlined"
        color="primary-default"
        class="mb-default"
        fullWidth
        [labelOptions]="{
          position: 'top',
        }"
      >
        <app-input-label>Confirm New Password</app-input-label>

        <input
          appInput
          id="confirm-password"
          type="password"
          placeholder="******"
          required
          [(ngModel)]="resetPasswordForm[InputTypes.CONFIRM_PASSWORD]"
          [name]="InputTypes.CONFIRM_PASSWORD"
        />
      </app-form-field>
    </div>

    <button
      type="submit"
      id="reset-password-button"
      appButton
      variant="contained"
      color="primary"
      [disabled]="ngFormLogin.invalid"
      [loading]="resetPasswordLoading"
    >
      Reset password
    </button>
  </form>
</div>
