<app-authentication-logo-container title="Optimize Budget" />

<div class="form-container">
  <div class="header">
    <h4 class="mb-sm">Reset User Password</h4>
  </div>

  <form
    id="resetPasswordForm"
    class="text-align-left"
    #ngFormLogin="ngForm"
    (ngSubmit)="handleResetPassword(ngFormLogin)"
  >
    <app-form-field
      variant="outlined"
      color="primary-default"
      class="mb-default"
      fullWidth
      [labelOptions]="{
        position: 'top',
      }"
    >
      <app-input-label>Current Password</app-input-label>

      <input
        appInput
        id="password"
        type="password"
        placeholder="******"
        required
        [(ngModel)]="resetPasswordForm[InputTypes.CURRENT_PASSWORD]"
        [name]="InputTypes.CURRENT_PASSWORD"
      />
    </app-form-field>

    <div
      #newPasswordGroup="ngModelGroup"
      ngModelGroup="newPasswordGroup"
      appConfirmPasswordValidator
      [passwordControl]="InputTypes.PASSWORD"
      [confirmPasswordControl]="InputTypes.CONFIRM_PASSWORD"
    >
      <app-form-field
        variant="outlined"
        color="primary-default"
        class="mb-default"
        fullWidth
        [labelOptions]="{
          position: 'top',
        }"
      >
        <app-input-label>New Password</app-input-label>

        <input
          appInput
          id="password"
          type="password"
          placeholder="******"
          required
          [(ngModel)]="resetPasswordForm[InputTypes.PASSWORD]"
          [name]="InputTypes.PASSWORD"
          [pattern]="regexPatterns.password"
        />
      </app-form-field>

      <app-password-requirement-container
        class="mb-default"
        [password]="resetPasswordForm[InputTypes.PASSWORD]"
        [confirmPassword]="resetPasswordForm[InputTypes.CONFIRM_PASSWORD]"
      />

      <app-form-field
        variant="outlined"
        color="primary-default"
        class="mb-default"
        fullWidth
        [labelOptions]="{
          position: 'top',
        }"
      >
        <app-input-label>Confirm New Password</app-input-label>

        <input
          appInput
          id="confirm-password"
          type="password"
          placeholder="******"
          required
          [(ngModel)]="resetPasswordForm[InputTypes.CONFIRM_PASSWORD]"
          [name]="InputTypes.CONFIRM_PASSWORD"
        />
      </app-form-field>
    </div>

    <button
      type="submit"
      id="reset-password-button"
      appButton
      variant="contained"
      color="primary"
      [disabled]="ngFormLogin.invalid"
      [loading]="resetPasswordLoading"
    >
      Reset password
    </button>
  </form>
</div>
