@use 'sass:map';

@use 'color-palette' as color-palette;
@use 'typography' as typography;
@use 'spacing' as spacing;
@use 'breakpoints' as breakpoints;

@mixin faded {
  color: map.get(color-palette.$gray, 'variant-4');
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date {
  @include faded;
}

.category {
  @include faded;

  font-size: typography.$body-sm;
}

.mobile-cards-container {
  display: grid;
  gap: spacing.$lg;

  & .app-pill-status {
    padding: 0;
    border: none;
    background: transparent;
  }
}

@media screen and (max-width: breakpoints.$lg) {
  :host .widget-box {
    gap: spacing.$default;

    & .app-widget-box-header {
      gap: spacing.$sm;
    }
  }
}
