@use 'sass:map';

@use 'color-palette' as *;
@use 'typography' as *;

@mixin faded {
  color: map.get($color-palette, 'gray', 'variant-4');
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.date {
  @include faded;
}

.category {
  @include faded;

  font-size: map.get($font-size, 'body-sm');
}
