@use 'sass:map';

@use 'spacing' as spacing;
@use 'variables' as variables;
@use 'breakpoints' as breakpoints;

:host {
  display: flex;
  align-items: center;
  gap: spacing.$sm;

  padding: spacing.$sm spacing.$default;
  border-bottom: variables.$layout-border;
}

#logo {
  width: 40px;
}

@media screen and (max-width: breakpoints.$md) {
  :host {
    border-bottom: none;
  }
}
