@use 'sass:map';

@use 'spacing' as *;
@use 'variables' as *;

:host {
  display: flex;
  align-items: center;
  gap: map.get($spacing, 'sm');

  padding: map.get($spacing, 'sm') map.get($spacing, 'default');
  border-bottom: $layout-border;
}

#logo {
  width: 40px;
}
