@use 'sass:map';

@use 'variables' as *;
@use 'spacing' as *;

@use '../sidebar.component' as *;

:host {
  @include links-container;

  padding: 0 map.get($spacing, 'default') map.get($spacing, 'sm');
}
