@use 'sass:map';

@use 'typography' as typography;
@use 'color-palette' as color-palette;

.app-loader {
  $size: typography.$body;
  //
  width: $size;
  height: $size;
  border: 3px solid map.get(color-palette.$gray, 'variant-3');
  border-bottom-color: transparent;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
