<app-password-requirement
  [isValid]="
    {
      value: password,
      regularExpression: regexPatterns.lengthLimit,
    } | passwordRequirementType
  "
>
  5-15 characters
</app-password-requirement>

<app-password-requirement
  [isValid]="
    {
      value: password,
      regularExpression: regexPatterns.uppercase,
    } | passwordRequirementType
  "
>
  Uppercase letters
</app-password-requirement>

<app-password-requirement
  [isValid]="
    {
      value: password,
      regularExpression: regexPatterns.specialCharacters,
    } | passwordRequirementType
  "
>
  Special characters $%&_@!
</app-password-requirement>

<app-password-requirement
  [isValid]="
    {
      value: password,
      regularExpression: regexPatterns.lowercase,
    } | passwordRequirementType
  "
>
  Lowercase letters
</app-password-requirement>

<app-password-requirement
  [isValid]="
    {
      value: password,
      regularExpression: regexPatterns.numbers,
    } | passwordRequirementType
  "
>
  Numbers
</app-password-requirement>
