@use 'breakpoints' as breakpoints;

:host {
  font-size: 0.8rem;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@media screen and (max-width: breakpoints.$xl) {
  :host {
    grid-template-columns: 1fr;
  }
}
