<app-password-requirement
  [isValid]="
    {
      value: password,
      regularExpression: regexPatterns.lengthLimit,
    } | passwordRequirementType
  "
>
  5-15 characters
</app-password-requirement>

<app-password-requirement
  [isValid]="
    {
      value: password,
      regularExpression: regexPatterns.uppercase,
    } | passwordRequirementType
  "
>
  Uppercase letters
</app-password-requirement>

<app-password-requirement
  [isValid]="
    {
      value: password,
      regularExpression: regexPatterns.lowercase,
    } | passwordRequirementType
  "
>
  Lowercase letters
</app-password-requirement>

<app-password-requirement
  [isValid]="
    {
      value: password,
      regularExpression: regexPatterns.numbers,
    } | passwordRequirementType
  "
>
  Numbers
</app-password-requirement>

<app-password-requirement [isValid]="password.length > 0 && password === confirmPassword">
  Matching passwords
</app-password-requirement>

<div></div>

<app-password-requirement
  class="password-match"
  [isValid]="
    {
      value: password,
      regularExpression: regexPatterns.specialCharacters,
    } | passwordRequirementType
  "
>
  Special character (one of: $%&_@!)
</app-password-requirement>
