<app-authentication-logo-container />

<div class="form-container">
  <div class="header">
    <h4 class="mb-sm">Forgot Password</h4>

    <p class="light-text">Enter your email address to receive a password reset link.</p>
  </div>

  <form
    id="forgotPasswordForm"
    class="text-align-left"
    #forgotPasswordForm="ngForm"
    (ngSubmit)="handleForgotPasswordSubmit(forgotPasswordForm)"
  >
    <app-form-field
      variant="outlined"
      color="primary-default"
      class="mb-default"
      [labelOptions]="{
        position: 'top',
      }"
    >
      <app-input-label>Email</app-input-label>

      <input appInput id="email" type="email" placeholder="mail@example.com" />
    </app-form-field>

    <button type="submit" appButton variant="contained" color="primary-default">
      Send Reset link
    </button>
  </form>

  <p>
    Go back to
    <a routerLink="/{{paths.login.path}}" class="redirect-link underline">Login</a>
    page
  </p>
</div>

<app-agree-info-component textContent="reset" />
