<app-widget-box>
  <app-widget-box-header>
    <app-widget-box-title>P&L report</app-widget-box-title>
  </app-widget-box-header>

  <table app-table [dataSource]="dataSource" *ngIf="!isMobile; else mobileCardsContainer">
    <ng-container
      *ngFor="let key of displayedColumns; trackBy: trackByFnDisplayedColumns"
      [appColumnDef]="key"
    >
      <th *appHeaderCellDef>
        <ng-container *ngIf="key !== 'type' && key !== 'yearlyTotal'">{{ key }}</ng-container>
        <ng-container *ngIf="key === 'yearlyTotal'">Yearly Total</ng-container>
      </th>

      <td app-cell *appCellDef="let item">
        <ng-container
          *ngIf="
            {
              item,
              key,
            } | isNumberType
          "
        >
          {{ item[key] | currency: 'EUR' }}
        </ng-container>

        <ng-container
          *ngIf="
            {
              item,
              key,
            } | isInfoCell
          "
        >
          {{
            {
              item,
              key,
            } | rowTypeValue
          }}
        </ng-container>

        <ng-container
          *ngIf="
            {
              item,
              key,
            } | isProfitMargin
          "
        >
          {{ item[key] | number: '1.0-2' }}&percnt;
        </ng-container>
      </td>
    </ng-container>

    <tr app-header-row *appHeaderRowDef="displayedColumns"></tr>
    <tr
      app-row
      *appRowDef="let row; columns: displayedColumns"
      [class.divider]="row.type === RowType.DIVIDER"
    ></tr>
  </table>

  <ng-template #mobileCardsContainer>
    <div class="mobile-cards-container">
      <ng-container *ngFor="let item of dataSource; trackBy: trackByFnDataSource">
        <app-card *ngIf="item.type !== RowType.DIVIDER">
          <ng-container *ngFor="let key of displayedColumns; trackBy: trackByFnDisplayedColumns">
            <app-card-row
              *ngIf="
                {
                  item,
                  key,
                } | isInfoCell
              "
            >
              <app-card-key>Type</app-card-key>

              <app-card-value>
                {{
                  {
                    item,
                    key,
                  } | rowTypeValue
                }}
              </app-card-value>
            </app-card-row>

            <app-card-row
              *ngIf="
                !(
                  {
                    item,
                    key,
                  } | isInfoCell
                )
              "
            >
              <app-card-key>{{ key !== 'yearlyTotal' ? key : 'Yearly Total' }}</app-card-key>

              <app-card-value
                *ngIf="
                  {
                    item,
                    key,
                  } | isNumberType
                "
              >
                {{
                  {
                    item,
                    key,
                  }
                    | getNumberValue
                    | currency: 'EUR'
                }}
              </app-card-value>

              <app-card-value
                *ngIf="
                  {
                    item,
                    key,
                  } | isProfitMargin
                "
              >
                {{
                  {
                    item,
                    key,
                  }
                    | getNumberValue
                    | number: '1.0-2'
                }}&percnt;
              </app-card-value>
            </app-card-row>
          </ng-container>
        </app-card>
      </ng-container>
    </div>
  </ng-template>
</app-widget-box>
