<app-widget-box>
  <app-widget-box-header>
    <app-widget-box-title>P&L report</app-widget-box-title>
  </app-widget-box-header>

  <table app-table [dataSource]="dataSource" *ngIf="!isMobile; else mobileCardsContainer">
    <ng-container
      *ngFor="let item of displayedColumns; trackBy: trackByFnDisplayedColumns"
      [appColumnDef]="item"
    >
      <th *appHeaderCellDef>
        <ng-container *ngIf="item !== 'type' && item !== 'yearlyTotal'">{{ item }}</ng-container>
        <ng-container *ngIf="item === 'yearlyTotal'">Yearly Total</ng-container>
      </th>

      <td app-cell *appCellDef="let cellItem">
        <ng-container
          *ngIf="
            {
              cellItem,
              displayedColumnsItem: item,
            } | isNumberType
          "
        >
          {{ cellItem[item] | currency: 'EUR' }}
        </ng-container>

        <ng-container
          *ngIf="
            {
              cellItem,
              displayedColumnsItem: item,
            } | isInfoCell
          "
        >
          {{
            {
              cellItem,
              displayedColumnsItem: item,
            } | rowTypeValue
          }}
        </ng-container>

        <ng-container
          *ngIf="
            {
              cellItem,
              displayedColumnsItem: item,
            } | isProfitMargin
          "
        >
          {{ cellItem[item] | number: '1.0-2' }}&percnt;
        </ng-container>
      </td>
    </ng-container>

    <tr app-header-row *appHeaderRowDef="displayedColumns"></tr>
    <tr
      app-row
      *appRowDef="let row; columns: displayedColumns"
      [class.divider]="row.type === RowType.DIVIDER"
    ></tr>
  </table>

  <ng-template #mobileCardsContainer>
    <div class="mobile-cards-container">
      <ng-container *ngFor="let item of dataSource; trackBy: trackByFnDataSource">
        <app-card *ngIf="item.type !== RowType.DIVIDER">
          <app-card-row>
            <app-card-key>Type</app-card-key>

            <app-card-value>
              {{
                {
                  cellItem: item,
                  displayedColumnsItem: 'type',
                } | rowTypeValue
              }}
            </app-card-value>
          </app-card-row>

          <ng-container *ngFor="let object of item | keyvalue">
            <ng-container *ngIf="!['type', 'yearlyTotal'].includes(object.key)">
              <app-card-row>
                <app-card-key>
                  {{ object.key }}
                </app-card-key>

                <app-card-value
                  *ngIf="
                    {
                      cellItem: item,
                      displayedColumnsItem: object.key,
                    } | isProfitMargin
                  "
                >
                  {{ object.value | number: '1.0-2' }}&percnt;
                </app-card-value>

                <app-card-value
                  *ngIf="
                    {
                      cellItem: item,
                      displayedColumnsItem: object.key,
                    } | isNumberType
                  "
                >
                  {{ object.value | currency: 'EUR' }}
                </app-card-value>
              </app-card-row>
            </ng-container>
          </ng-container>

          <app-card-row>
            <app-card-key>Yearly Total</app-card-key>

            <app-card-value>
              {{ item.yearlyTotal | currency: 'EUR' }}
            </app-card-value>
          </app-card-row>
        </app-card>
      </ng-container>
    </div>
  </ng-template>
</app-widget-box>
