@use 'sass:map';

@use 'color-palette' as color-palette;

:host {
  $icon-size: 20px;
  //
  display: flex;
  align-items: center;
  line-height: 1;

  & app-icon {
    width: $icon-size;
    height: $icon-size;
  }

  &[data-type='VALID'] app-icon {
    fill: map.get(color-palette.$green, 'variant-3');
  }

  &[data-type='INVALID'] app-icon {
    fill: map.get(color-palette.$red, 'variant-2');
  }
}
